@tailwind base;
@tailwind components;
@tailwind utilities;

.body{
  width: 100%;

}

.premiun{
  border: 1px solid;
  border-radius: 9px 9px 9px 9px / 75% 75% 75% 75%;
  padding: 4px 8px;
}
.botones2{
  border: solid 1px;
  width: fit-content;
  padding: 5px;
  border-radius: 23px;
  
}
.carta1{
  border: solid 1px;
  width: 540px;
  background-color: white;
  padding: 20px;
  height: 190px;
}

/* Botones */
.navbar-buttons .btn-signin,
.navbar-buttons .btn-register {
  cursor: pointer;
}




/* Responsividad */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-menu {
    flex-direction: column;
    width: 100%;
  }

  .navbar-menu li {
    margin: 10px 0;
  }

  .navbar-settings,
  .navbar-buttons {
    margin-top: 10px;
  }
}

.estudio {
  background-color: #000000;
}